/* CSS RESET */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*layout / components */

html,
body {
  height: 100vh;
  overflow: hidden;
}

p {
  margin: 0;
}

/* main components */
.canvas-container {
  justify-content: center;
  height: 100vh;
  padding: 110px;
  background-color: #39b6ff;
  /*background-image: url("../img/canvas-cont.png");
  background-size: contain;*/
}

canvas {
  background-color: #39b6ff;
}

h1 {
  font-size: 100px;
  margin: 0 auto;
  color: white;
  font-family: fantasy;
  text-align: center;
  padding-top: 70px;
}

.start-btn {
  background-color: azure;
  color: black;
  width: 120px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  font-family: fantasy;
  border: black solid 3px;
}

.splash-screen {
  background-image: url("../img/start-screen.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rules {
  width: 550px;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  color: black;
  font-family: fantasy;
  width: 300px;
  text-align: center;
  font-size: 30px;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 50px;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}

.game .lives {
  flex: 1;
}

.game.points {
  flex: 1;
}

.gameover-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-btn {
  width: 150px;
  height: 50px;
  border: white;
  font-family: fantasy;
  font-weight: bold;
  font-size: 22px;
  background-color: cadetblue;
}

.lose-img {
  background-size: contain;
  width: 550px;
}

p {
  font-family: fantasy;
  font-size: 22px;
  line-height: 2;
  width: 750px;
  text-align: center;
  padding-bottom: 50px;
}

.win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-text {
  font-family: fantasy;
  font-size: 22px;
  line-height: 2;
  text-align: center;
  font-weight: bold;
  width: 430px;
}
