/* CSS RESET */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*layout / components */

.canvas-container {
  justify-content: center;
  height: 100vh;
  padding: 70px;
  background-color: #39b6ff;
  /* background-image: url("../img/cloud-game.jpeg");
  background-size: cover; */
}

canvas {
  background-color: #39b6ff;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

p {
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 0 auto;
  color: black;
  font-family: fantasy;
  text-align: center;
}

.start-btn {
  background-color: antiquewhite;
  color: black;
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: fantasy;
  border: black double 2px;
}

.splash-screen {
  background-image: url("../img/splashscreen.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  padding-top: 120px;
}

h3 {
  color: black;
  font-family: fantasy;
  width: 45%;
  text-align: center;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 40px;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}

.game .lives {
  flex: 1;
}

.game.points {
  flex: 1;
}

.game-over {
  color: black;
  font-family: fantasy;
  font-size: 150px;
  width: 200px;
  line-height: 1;
}


/*height: 50px;
    font-weight: bold;
    background-color: cadetblue;
    font-family: fantasy;
    font-size: 20px 
    width: 150px;*
